<div class="container">
  <hr>
  <h2>Answers: </h2>
  {{#each answers as |answer|}}
    <h4>"{{answer.answer}}" -by {{answer.author}} </h4>
    <button {{action 'delete' answer}}>Delete</button>

  {{/each}}
</div>
