<div class="container">
  <hr>
  <h2>Answers: </h2>
  <div class="row">
    {{#each answers as |answer|}}
      <h4>"{{answer.answer}}"</h4>

      <button class="btn btn-xs btn-danger"{{action 'delete' answer}}>Delete</button>
      <h4>Vote:{{answer.votes}}</h4>
      {{upvote-answer answer=answer upvote="upvote"}}
    {{/each}}
  </div>
</div>
