<h3>"{{question.ask}}" written by {{question.author}}</h3>
<button class="btn btn-danger btn-sm" {{action 'deleteQuestion' question}}>Delete this question</button>

<button class="btn btn-info btn-sm" {{action 'addToFavourite' question}}>Mark as your fsvourite!</button>
