<div class="container">
  <h1> Welcome Question Board </h1>

  <h4>We hope you find exactly what you're looking for.</h4>
  <h2>Questions:</h2>


  <ul>
    {{#each model as |question|}}
      <li><h4>{{#link-to 'question' question.id}}{{question.ask}}{{/link-to}} written by {{question.author}}.</h4></li>
    {{/each}}
  </ul>


  <hr>
  {{new-question saveQuestion="saveQuestionOnQuestionRoute"}}

</div>
